:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  background-color: #f8f9fa;  
  padding: 8px 0;  
  border-bottom: 1px solid #e0e0e0;  
  font-size: 17px;
  margin-bottom: 20px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header nav a {
  color: #6634c2; 
  margin: 0 10px;
  padding: 10;
}

.header nav a:hover {
  color: #b2a5c9; 
}

/* Color for active link is light blue and bold */
.header nav a.active {
  color: #475d8a; 
  font-weight: bold;
}


.navName {
  display: flex;
  margin: 0;
  list-style: none;
  font-weight: bold;
  font-size: 30px;
}

.navName li a:hover {
  color: #b2a5c9; 
} 

.navName li a {
  font-weight: bold;
}

/* contact information for the user to enter  */
#contactInputName, #contactInputEmail{
  margin: auto;
  width: 50%
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #53f278;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 { 
  font-size: 40px;
  line-height: 1.1;
}

.submitContact {
  font-family: inherit;
  color: white;
  background-color: #6d91da;
  border-color: #ffffff;
  font-size: 15px;
}

.submitContact:hover {
  background-color: #6075a0;
}


@media (max-width: 768px) {
    .header {
      font-size: 12px;
    }
    .navName {
      font-size: 20px;
    }
  }

@media (max-width: 480px) {
  .header {
    font-size: 11px;
    padding: 1;
  }
  
}

@media (max-width: 360px) {
  .header {
    font-size: 9px;
    padding: 1;
  }
}
