:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styling for header */
.header {
  display: flex;
  border-bottom: 1px solid #000000;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 0px 15px;
}


/* Styling for nav 'a' tag elements in header */
.header nav a {
  color: #6634c2; 
  margin: 0 10px;
  padding: 10;
}


/* Styling for nav element in header */
.header nav {
  display: flex;
  justify-content:start;
  align-items: center;
  width: 100%;
}

/* Color for active link is light blue and bold */
.header nav a.active {
  color: #384764; 
  font-weight: bold;
}

.header nav a:hover {
  color: #c4bcd2; 
}
.header nav a.active:hover {
  color: #384764; 
}

/* Name styling */
.navName {
  list-style: none;
  margin-right: auto; 
  font-weight: bold;
  font-size: 25px;
}

/* styling when user hoves over links */
.navName li a:hover {
  color: #c4bcd2; 
} 

/* Styling for list item (name) 'a' tag elements */
.navName li a {
  font-weight: bold;
}

/* contact information for the user to enter  */
#contactInputName, #contactInputEmail{
  margin: auto;
  width: 50%
}

/* Styling for 'a' tag elements  */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.navName li {
  margin-top: 3.5%; /* Ensures no default margin */
}

/* Styling for main body */
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 { 
  font-size: 30px;
  line-height: 1.1;
}

/* styling for contact submit button */
.submitContact {
  font-family: inherit;
  color: white;
  background-color: #6d91da;
  border-color: #ffffff;
  font-size: 15px;
}

.submitContact:hover {
  background-color: #6075a0;
}

/* Styling for various screen sizes and what elements change for the different sizes*/
@media (max-width: 600px) {
  .header nav {
    flex-direction: column;
    align-items: center;
  }

  .header {
    font-size: 20px;
    padding: 1;
    justify-content: center;
  }

  .navName {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 2%;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 12px;
  }
  .form-text {
    font-size: 10px;
  }
}


