:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: #f8f9fa;  
  padding: 10px 0;  
  border-bottom: 1px solid #e0e0e0;  
}

.header nav a {
  color: #6634c2; 
  margin: 0 10px;  
}

/* Color for active link is light blue and bold */
.header nav a.active {
  color: #475d8a; 
  font-weight: bold;
}

/* contact information for the user to enter  */
#contactInputName, #contactInputEmail{
  margin: auto;
  width: 50%
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #53f278;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 { 
  font-size: 40px;
  line-height: 1.1;
}

.submitContact {
  font-family: inherit;
  color: white;
  background-color: #6d91da;
  border-color: #ffffff;
  font-size: 15px;
}

.submitContact:hover {
  background-color: #6075a0;
}

