/* :root {
  background-color: 
} */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Maven+Pro:wght@400..900&display=swap');



/* Styling for main body */
body {
  background: rgb(205,186,212);
  background: radial-gradient(circle, rgb(223, 219, 224) 0%, rgb(198, 210, 224) 100%);
  font-family: 'Maven Pro';
  margin: 0;
  place-items: center;
  min-width: 100px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}


main {
  padding-top: 100px;
}

h1 { 
  color: #384764;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.1;
}


/* Ensure the header is fixed at the top and overlaps the page content */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is on top of other elements */
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  border-bottom: 2px solid #fbfeff34;
  font-size: 18px;
  padding: -10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Ensure there is enough padding at the top of the body to prevent content from being hidden behind the fixed header */
body {
  padding-top: 60px; /* Adjust this value based on the height of your header */
}

.header nav a {
  color: #384764;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.header nav a.active {
  color: #384764;
  font-weight: bold;
  font-size: 22px;
}

.header nav a:hover {
  color: #384764;
  font-weight: bold;
  box-shadow: 0 2px 0 0;
  transition: all 0.8s;
}

.navName li a {
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: #384764;
}

.navName {
  list-style: none;
  margin-right: auto;
  padding: 0;
}

.navName li {
  display: inline;
}


/* contact information for the user to enter  */
#contactInputName, 
#contactInputEmail {
  margin:auto;
  max-width: 30%;
}

.btn {
  background-color: #384764; 
  border-color: #384764;
  color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: #384764b5;
  border-color: #3847648c;
}

/* Styling for 'a' tag elements  */
a {
  font-weight: 500;
  color: #384764; 
  text-decoration: inherit;
}

/* styling for contact submit button */
.submitContact {
  font-family: inherit;
  color: white;
  background-color: #6d91da;
  border-color: #ffffff;
  font-size: 15px;
}

.submitContact:hover {
  background-color: #6075a0;
}

footer {
  color: rgba(96, 90, 99, 0.494);
  margin: 5%;
}

footer li {
  color: white;
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  color: white;
}

footer a:hover {
  color: #384764; 
  font-size: 40px;
  font-weight: bold;
  transition: all .8s;
}

.github, 
.stackOverFlow, 
.linkedIn, 
.instagram{
  transition: all 1.5;
  color: white;
  font-size: 30px;
}

.img-aboutMe {
  max-width: 10%;
  border-radius: 15%;
  border: solid 2px #7f5ee33a;
}

.portfolio {
  margin: auto;
  max-width: 70%;
}


.portfolioText {
  color: #2a3853;  
  font-size: 18px;
}


/* Card styling */
.card {
  position: relative;
  overflow: hidden;
}

.card img {
  transition: filter 0.5s ease-in-out;
}

.card:hover img {
  filter: blur(5px);
}

.card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 65px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: #384764; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}

.card {
  border-radius: 20px;
  border: solid rgba(38, 10, 148, 0.353) 2px;
  box-shadow: 10px 10px 20px rgba(146, 215, 238, 0.32);
}

.card:hover .card-button {
  opacity: 1;
}

/* .projectText {
  
} */

/* .card-button:hover {
  transition: all 1s;
} */


.techBlogAppImg {
  height: 50%;
}

.weatherAppImg{
  height: 30%;
}

.aboutMeText {
  color: #2a3853; 
  font-size: 18px;
  margin: 3%;
  max-width: 70%;
  margin-left: 15%;
  height: 50%;
}

.aboutMeHeader, .portfolioHeader {
  margin: 3%;
}

.portfolioHeader {
  margin-top: 20%;
}

.contactText {
  color: #2a3853; 
  font-size: 17px;
  margin: 3%;
  max-width: 70%;
  margin-left: 15%;
  height: 50%;
}



h2 {
  color: #2a3853; 
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Styling for various screen sizes and what elements change for the different sizes*/
/* Styling for various screen sizes and what elements change for the different sizes */
@media (max-width: 768px) {


  nav {
    padding: 10px;
  }

  .header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* padding-bottom: 40px; */
  }

  .navName {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  .navName li {
    display: block; /* Ensure list items are block-level elements */
    margin-bottom: 10px; /* Add some space between items */
    
  }

  #contactInputName,
  #contactInputEmail {
    margin: auto;
    width: 30%;
  }

  .card-group {
    margin-left: 0%;
    max-width: 100%;
    transition: box-shadow 0.3s ease-in-out;
  }

  .img-aboutMe {
    max-width: 25%;
  }


  footer li {
    margin: auto;
    margin-right: 8%;
    align-items: center;
  }

  .header {
    font-size: 20px;
    padding: 1;
    justify-content: center;
    margin-bottom: 10%;
  }

  .messageText {
    font-size: 10;
  }


  h1 {
    font-size: 30px;
  }

  p {
    font-size: 12px;
  }

  /* .form-text {
    font-size: 10px;
  } */
}
