/* :root {
  background-color: 
} */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Maven+Pro:wght@400..900&display=swap');



/* Styling for main body */
body {
  background: rgb(205,186,212);
  background: radial-gradient(circle, rgba(205,186,212,1) 0%, rgba(148,187,233,1) 100%);
  font-family: 'Maven Pro';
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 { 
  color: #384764;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.1;
}


/* Styling for header */
.header {
  display: flex;
  border-bottom: 2px solid #fbfeff34;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 0px 15px;
}


/* Styling for nav 'a' tag elements in header */
.header nav a {
  color: white;
  margin: 0 10px;
  padding: 10;
}


/* Styling for nav element in header */
.header nav {
  display: flex;
  justify-content:start;
  align-items: center;
  width: 100%;
}

/* Color for active link is light blue and bold */
.header nav a.active {
  color: #384764; 
  font-weight: bold;
  font-size: 22px;
}

.header nav a:hover {
  color: #384764; 
  font-weight: bold;
  box-shadow: 0 2px 0 0;  
  transition: all .8s;
}

/* Name styling */
.navName {
  list-style: none;
  margin-right: auto; 
  font-weight: bold;
  font-size: 30px;
}

/* styling when user hoves over links */
.navName li a:hover {
  color: #384764; 
  font-weight: bold;
} 

/* Styling for list item (name) 'a' tag elements */
.navName li a {
  font-weight: bold;
}
/* Styling for list item (name) 'li' tag elements */
.navName li {
  margin-top: 8%;
}

/* contact information for the user to enter  */
#contactInputName, 
#contactInputEmail {
  margin:auto;
  max-width: 30%;
}

.btn {
  background-color: #384764; 
  border-color: #384764;
  color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: #384764b5;
  border-color: #3847648c;
}

/* Styling for 'a' tag elements  */
a {
  font-weight: 500;
  color: #384764; 
  text-decoration: inherit;
}

/* styling for contact submit button */
.submitContact {
  font-family: inherit;
  color: white;
  background-color: #6d91da;
  border-color: #ffffff;
  font-size: 15px;
}

.submitContact:hover {
  background-color: #6075a0;
}

footer {
  color: rgba(96, 90, 99, 0.494);
  margin: 5%;
}

footer li {
  color: white;
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  color: white;
}

footer a:hover {
  color: #384764; 
  font-size: 40px;
  font-weight: bold;
  transition: all .8s;
}

.github, 
.stackOverFlow, 
.linkedIn, 
.instagram{
  transition: all 1.5;
  color: white;
  font-size: 30px;
}

.img-aboutMe {
  max-width: 10%;
  border-radius: 15%;
  border: solid 2px #7f5ee33a;
}

.portfolio {
  margin: auto;
  max-width: 70%;
}


.portfolioText {
  color: #2a3853;  
  font-size: 18px;
}


.card-group {
  margin-left: 30%;
  max-width: 40%;
  transition: box-shadow 1s ease-in-out;
}

.card:hover {
      margin:3%;
      background: rgba(142, 155, 170, 0.142);
      font-size:18px;
      transition:all 1s;
}

.techBlogAppImg {
  height: 50%;
}

.weatherAppImg{
  height: 30%;
}

.aboutMeText {
  color: #2a3853; 
  font-size: 18px;
  margin: 3%;
  max-width: 70%;
  margin-left: 15%;
  height: 50%;
}

.aboutMeHeader, .portfolioHeader {
  margin: 3%;
}

.contactText {
  color: #2a3853; 
  font-size: 17px;
  margin: 3%;
  max-width: 70%;
  margin-left: 15%;
  height: 50%;
}

/* Styling for various screen sizes and what elements change for the different sizes*/
@media (max-width: 768px) {
  .header nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  #contactInputName,
  #contactInputEmail {
    margin: auto;
    width: 30%;
    /* min-width: 10%; */
  }

  .aboutMeText {
    font-size: 11px;
    font-weight: bold;
  }

  .card-group {
    margin-left: 0%;
    max-width: 100%;
    transition: box-shadow 0.3s ease-in-out; 
  }

  .img-aboutMe {
    max-width: 25%;
  }

  footer li {
    margin: auto;
    margin-right: 8%;
    align-items: center;
  }

  .navName {
    margin: auto;
    flex-direction: column;
    align-items: center;
  }


  .header {
    font-size: 20px;
    padding: 1;
    justify-content: center;
    margin-bottom: 10%;
  }

  .navName {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 2%;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 12px;
  }
  .form-text {
    font-size: 10px;
  }
}

